# Carpetas de build y compilación
/build/
/out/
/dist/
/target/

# Archivos compilados de Java
*.class

# Configuración privada de NetBeans
nbproject/private/
nbproject/private/*

# Archivos de proyecto de NetBeans que cambian según la PC
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# Ignorar tu archivo de conexión específico
/src/java/servicio/Conexion.java

# Archivos de logs o temporales
*.log
*.swp
*.DS_Store
Thumbs.db
*.orig
*.rej

